/*Center my page*/
#container {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

#container:before, #container:after {
    content: " ";
    display: table;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#container:after {
    clear: both;
}
/*title and underline */
h1 {
  font-family: Times New Roman;
}
h2 {
  width: 84px;
  height: 5px;
  background-color: black;
  border-radius: 2px;
  margin-top: -14px;
}
/*edit my div*/
.photo >  div {
  width: 210px;
  height: 210px;
  display: inline-block;
  position: relative;
  margin: 2% 4% 2% 0;
  box-sizing: border-box;

}
img{
  width: 210px;
  height: 210px;
}

span:nth-child(1) {
  width: 210px;
  height: 210px;
  background: rgba(114, 142, 155, 0.27);
  position: absolute;
}
span:nth-child(1):hover{
  background: rgba(114, 142, 155, 0);
}

div > .nombre {
  right: 5%;
  bottom: 9%;
  color: white;
  position: absolute;
}
